<!-- <section class="hero">
  <div class="container-img">
    <img src="../../../../../assets/imgs/hero-rostro.webp" alt="">
  </div>
  <div class="container-title">
    <h1>Maquetador y Desarrollador Web</h1>
    <p>Maquetación, Desarrollo y Servicios de SEO para ayudar a tu negocio a destacar.</p>
  </div>
  <div class="container-button">
    <a href="">
      MIS SERVICIOS
    </a>
  </div>
</section>
<section class="tecnologias"> -->
<!-- carrousel de tecnologías -->
<!-- </section>
<section class="servicios">

</section> -->

<h1 class="text-3xl font-bold underline">Tailwind css</h1>